.background {
  z-index: -1;
  position: absolute;
  bottom: -5vh;

  @media (max-width: 680px) {
    bottom: -45vh;
    right: -50vh;
  }

  @media (min-width: 680px) and (max-width: 1024px) {
    left: -30vh;
  }
}

.sparks_back {
  position: absolute;
  z-index: 1;
  height: 100vh;
}

.sparks_front {
  position: absolute;
  z-index: 3;
  height: 100vh;
}

.witcher {
  position: absolute;
  height: 100vh;
  z-index: 2;
  animation: blink 2s linear 0s 1 normal forwards;

  @media (min-width: 680px) and (max-width: 1024px) {
    height: 100vh;
  }
}
