.page {
  box-sizing: border-box;
  color: #fff;
  height: 100vh;
  background-color: #08120c;
  background-image: url("bg.71bd82a8.jpeg");
  background-position: center;
  background-size: cover;
  margin: 0;
  font-family: cambriab, sans-serif;
  overflow: hidden;
}

h1, h2, h3, p {
  margin: 0;
}

@font-face {
  font-family: cambria;
  src: url("cambria.02763c16.ttc");
}

@font-face {
  font-family: cambriab;
  src: url("cambriab.5f034673.ttf");
}

@keyframes bounce {
  0% {
    opacity: 1;
    animation-timing-function: ease-in;
    transform: translateY(-400px);
  }

  24% {
    opacity: 1;
  }

  40% {
    animation-timing-function: ease-in;
    transform: translateY(-80px);
  }

  65% {
    animation-timing-function: ease-in;
    transform: translateY(-40px);
  }

  82% {
    animation-timing-function: ease-in;
    transform: translateY(-16px);
  }

  93% {
    animation-timing-function: ease-in;
    transform: translateY(-4px);
  }

  25%, 55%, 75%, 87% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  100% {
    opacity: 1;
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

@keyframes shake {
  0%, 100% {
    transform-origin: 50% 100%;
    transform: rotate(0);
  }

  10% {
    transform: rotate(2deg);
  }

  20%, 40%, 60% {
    transform: rotate(-4deg);
  }

  30%, 50%, 70% {
    transform: rotate(4deg);
  }

  80% {
    transform: rotate(-2deg);
  }

  90% {
    transform: rotate(2deg);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.footer {
  z-index: 2;
  display: flex;
}

.logo {
  height: 40px;
  position: absolute;
  bottom: 50px;
  left: 50px;
}

@media (max-width: 679px) {
  .logo {
    bottom: 30px;
    left: 25px;
  }
}

.terms {
  color: #393939;
  font-size: 10px;
  position: absolute;
  bottom: 50px;
  right: 50px;
}

@media (max-width: 679px) {
  .terms {
    bottom: 15px;
    left: 25px;
  }
}

.main {
  max-width: 1260px;
}

.main_content {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;
  animation: 2s ease-in-out forwards bounce;
  display: flex;
  position: absolute;
}

@media (min-width: 1024px) {
  .main_content {
    top: 13.125em;
    right: 15.25em;
  }
}

@media (max-width: 1024px) {
  .main_content {
    top: 30%;
    right: 4%;
  }
}

@media (max-width: 679px) {
  .main_content {
    padding: 50px 25px;
    position: static;
  }
}

.title {
  text-shadow: 2px 4px 8px #000;
  margin-bottom: 21px;
  font-size: 9.25em;
  line-height: 80%;
  animation: 2s 3s infinite forwards shake;
}

@media (max-width: 680px) {
  .title {
    font-size: 6em;
  }
}

.title_description {
  text-transform: uppercase;
  text-shadow: 2px 4px 8px #000;
  font-size: 3em;
  line-height: 80%;
  animation: 2s 3s infinite forwards shake;
}

@media (max-width: 679px) {
  .title_description {
    font-size: 2em;
  }
}

.promo_text {
  text-transform: uppercase;
  color: #f73427;
  letter-spacing: 5px;
  background: #00000059;
  border: 1px dashed gray;
  border-radius: 40px 0 0 40px;
  padding: 18px 20px 18px 26px;
  font-family: Arial, sans-serif;
  font-size: 28px;
  line-height: 1em;
}

@media (max-width: 679px) {
  .promo_text {
    font-size: 14px;
  }
}

.promo_section {
  display: flex;
}

.copy-promo {
  text-transform: uppercase;
  color: #fff;
  background: none;
  border: none;
  outline: none;
  padding: 1.5em 1.875em 1.5em 1.625em;
  font-family: Arial, sans-serif;
  font-size: .75em;
  text-decoration: none;
}

.copy-promo:hover {
  cursor: pointer;
}

@media (max-width: 679px) {
  .copy-promo {
    font-size: .5em;
  }
}

.copy-promo_section {
  color: #fff;
  background: #00000059;
  border: 1px dashed gray;
  border-radius: 0 40px 40px 0;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
  transition: all .1s ease-in;
  display: flex;
}

.copy-promo_section:hover {
  background: #6f6264 0 0 / 40px;
  font-size: 18px;
}

.button {
  text-align: center;
}

@media (max-width: 679px) {
  .button {
    width: 12em;
  }
}

.button_text {
  color: #fff;
  text-transform: uppercase;
  background-color: #f73427;
  border-radius: 40px;
  padding: 20px 100px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 56px;
  text-decoration: none;
  transition: all .2s ease-in;
}

.button_text:hover {
  background: #c00000;
  font-size: 16px;
}

@media (max-width: 679px) {
  .button_text {
    padding: 15px 50px;
    line-height: 40px;
  }
}

.background {
  z-index: -1;
  position: absolute;
  bottom: -5vh;
}

@media (max-width: 680px) {
  .background {
    bottom: -45vh;
    right: -50vh;
  }
}

@media (min-width: 680px) and (max-width: 1024px) {
  .background {
    left: -30vh;
  }
}

.sparks_back {
  z-index: 1;
  height: 100vh;
  position: absolute;
}

.sparks_front {
  z-index: 3;
  height: 100vh;
  position: absolute;
}

.witcher {
  height: 100vh;
  z-index: 2;
  animation: 2s linear forwards blink;
  position: absolute;
}

@media (min-width: 680px) and (max-width: 1024px) {
  .witcher {
    height: 100vh;
  }
}

/*# sourceMappingURL=index.38ec9247.css.map */
